---
import Layout from '../layouts/Layout.astro'
---

<Layout title="0x2A">
  <p>
    <q>
      42: the answer to the ultimate question of life, the universe, and
      everything.
    </q>
    <i>— Douglas Adams, The Hitchhiker's Guide to the Galaxy</i>
  </p>
</Layout>
